// DECIDED TO MAKE A DATA FILE, CAUSE IF SOMEDAY WE WANT TO FETCH AN API, IT'S ALMOST THE SAME KIND OF MAPPING //

- 
	const data = [
	{
		orderNumber: '10063-0021',
		courseName: 'Baby Monitor Technology',
		clientName: 'Aaron Almaraz',
		date: '19 Dec 2020',
		actualState: 'Comprobante',
		profit: 'USD $50',
	},
	{
		orderNumber: '88043-2371',
		courseName: 'Can You Get Free Games...',
		clientName: 'Ainara Vergara',
		date: '15 Aug 2020',
		actualState: 'Comprobante',
		profit: 'USD $130.1',
	},
	{
		orderNumber: '97411-4998',
		courseName: 'How Plasma Tvs And Lcd Tvs Differ',
		clientName: 'Bansilal Brata',
		date: '24 May 2020',
		actualState: 'Pagada',
		profit: 'MXN $1000',
	},
	{
		orderNumber: '70393-0959',
		courseName: 'Dealing With Technical Support 10 Useful Tips',
		clientName: 'Emilee Simchenko',
		date: '16 Dec 2020',
		actualState: 'Pendiente',
		profit: 'USD $30',
	},
	{
		orderNumber: '48929-4326',
		courseName: 'Mg Shadow Computer Monitoring Software...',
		clientName: 'Emmy Elsner',
		date: '06 Feb 2020',
		actualState: 'Pagada',
		profit: 'USD $38',
	},
	{
		orderNumber: '94021-7221',
		courseName: 'A Pocket Pc Is Portability At It S Best',
		clientName: 'Enyinnaya Chinedu',
		date: '02 Dec 2020',
		actualState: 'Rechazada',
		profit: 'USD $32',
	},
	{
		orderNumber: '42680-1026',
		courseName: 'Not All Blank Cassettes Are Created Equal',
		clientName: 'Heather Clark',
		date: '26 Oct 2020',
		actualState: 'Pagada',
		profit: 'USD $100',
	},
	{
		orderNumber: '87866-4111',
		courseName: 'V7 Digital Photo Printing',
		clientName: 'Noori El Mansur',
		date: '18 Jun 2020',
		actualState: 'Pagada',
		profit: 'USD $100',
	},
	{
		orderNumber: '18742-8221',
		courseName: 'Anonymous Proxy',
		clientName: 'Praskovya Dubinina',
		date: '30 Mar 2020',
		actualState: 'Pagada',
		profit: 'USD $100',
	},
	]
