html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet")
        link(href="https://2.cdn.wisboo.com/fonts/icons-wisboo/style.css" rel="stylesheet")
        link(rel="stylesheet" href="/styles/styles.css")
        title Document
    body 
        .container
            .header-container
                h3.header-title Ventas de la academia
                .header-btns
                    button.header-export-btn
                        i.icon-file_download---material
                        span Exportar
                    button.header-register-btn Registrar una venta
            .header-underline
            .cards-container 
                article.info-card
                    h4.card-title Cant Ventas 
                    h4.card-data 322
                    p.card-footer Últimos 60 días
                article.info-card
                    h4.card-title Recaudo (MXN)
                    h4.card-data $ 77322 MXN
                    p.card-footer 04/10/2020 - 04/12/2020
                article.info-card
                    h4.card-title Recaudo (USD)
                    h4.card-data $ 10420 USD
                    p.card-footer Todos los tiempos
                article.info-card
                    h4.card-title Recaudo (ARS)
                    h4.card-data $ 257000 ARS
                    p.card-footer 04/10/2020 - 04/12/2020
            .main-container 
                .data-box 
                    .filters-wrapper
                        .input-box
                            input.search-data(type="text", placeholder="Buscar por #orden o comprador")
                            i.icon-Buscar
                        select.filter-select
                            i.
                            option Curso
                        select.filter-select
                            option Estado
                        select.filter-select
                            option Medio de Pago
                        select.filter-select
                            option 04/10/2020

                    .data-wrapper
                        .data-item 
                            p.order-number 10063-0021
                            p.course-name Baby Monitor Technology
                            p.buyer-name Aaron Almaraz
                            p.date 19 Dec 2020
                            p.state Comprobante
                            p.profit USD $50
                            i.icon-Menu-Tres-Puntos
                    .data-wrapper
                        .data-item 
                            p.order-number 10063-0021
                            p.course-name Baby Monitor Technology
                            p.buyer-name Aaron Almaraz
                            p.date 19 Dec 2020
                            p.state Comprobante
                            p.profit USD $50
                            i.icon-Menu-Tres-Puntos
                            
                    .data-wrapper
                        .data-item 
                            p.order-number 10063-0021
                            p.course-name Baby Monitor Technology
                            p.buyer-name Aaron Almaraz
                            p.date 19 Dec 2020
                            p.state Comprobante
                            p.profit USD $50
                            i.icon-Menu-Tres-Puntos

                    .data-wrapper
                        .data-item 
                            p.order-number 10063-0021
                            p.course-name Baby Monitor Technology
                            p.buyer-name Aaron Almaraz
                            p.date 19 Dec 2020
                            p.state Comprobante
                            p.profit USD $50
                            i.icon-Menu-Tres-Puntos

                    .data-wrapper
                        .data-item 
                            p.order-number 10063-0021
                            p.course-name Baby Monitor Technology
                            p.buyer-name Aaron Almaraz
                            p.date 19 Dec 2020
                            p.state Comprobante
                            p.profit USD $50
                            i.icon-Menu-Tres-Puntos

                    .data-wrapper
                        .data-item 
                            p.order-number 10063-0021
                            p.course-name Baby Monitor Technology
                            p.buyer-name Aaron Almaraz
                            p.date 19 Dec 2020
                            p.state Comprobante
                            p.profit USD $50
                            i.icon-Menu-Tres-Puntos

                    .data-wrapper
                        .data-item 
                            p.order-number 10063-0021
                            p.course-name Baby Monitor Technology
                            p.buyer-name Aaron Almaraz
                            p.date 19 Dec 2020
                            p.state Comprobante
                            p.profit USD $50
                            i.icon-Menu-Tres-Puntos

                    .data-wrapper
                        .data-item 
                            p.order-number 10063-0021
                            p.course-name Baby Monitor Technology
                            p.buyer-name Aaron Almaraz
                            p.date 19 Dec 2020
                            p.state Comprobante
                            p.profit USD $50
                            i.icon-Menu-Tres-Puntos

                    .data-wrapper
                        .data-item 
                            p.order-number 10063-0021
                            p.course-name Baby Monitor Technology
                            p.buyer-name Aaron Almaraz
                            p.date 19 Dec 2020
                            p.state Comprobante
                            p.profit USD $50
                            i.icon-Menu-Tres-Puntos