html(lang="en")
    include mixins.pug
    include data.pug
    head   
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet")
        link(href="https://2.cdn.wisboo.com/fonts/icons-wisboo/style.css" rel="stylesheet")
        link(rel="stylesheet" href="/styles/styles.css")
        title Document
    body 
        .container
            .header-container
                h3.header-title Ventas de la academia
                .header-btns
                    button.header-export-btn
                        i.icon-file_download---material
                        span Exportar
                    button.header-register-btn Registrar una venta
            .header-underline
            .cards-container 
                +infoCard('Cant Ventas', '322', 'Últimos 60 días')
                +infoCard('Recaudo (MXN)', ' 77322 MXN', '04/10/2020 - 04/12/2020')
                +infoCard('Recaudo (USD)', ' 10420 USD', 'Todos los tiempos')
                +infoCard('Recaudo (ARS)', ' 257000 ARS', '04/10/2020 - 04/12/2020')
            .data-container 
                .data-box 
                    .filters-wrapper
                        .input-box
                            input.search-data(type="text", placeholder="Buscar por #orden o comprador")
                            i.icon-Buscar
                        select.filter-select
                            option Curso
                        select.filter-select
                            option Estado
                        select.filter-select
                            option Medio de Pago
                        .filter-select
                            span 04/10/2020
                            div.date-border
                            i.icon-Date
                    .selects-wrapper 
                        .label-order 
                            span #Orden
                            i.icon-filtrar        
                        .label-course 
                            span #Curso
                            i.icon-filtrar           
                        .label-client 
                            span Comprador
                            i.icon-filtrar          
                        .label-date 
                            span #Fecha
                            i.icon-filtrar        
                        .label-state 
                            span #Estado
                            i.icon-filtrar          
                        .label-profit 
                            span #Ganancia
                            i.icon-filtrar            
                    each item, index in data 
                        .data-wrapper
                            +dataItem(item.orderNumber, item.courseName, item.clientName, item.date, item.actualState, item.profit)
                    