// MADE SOME VARIABLES WITH THE COLORS THAT ARE REPEATED THE MOST

$text-gray: #697284;
$bg-paid: linear-gradient(
		0deg,
		rgba(23, 230, 138, 0.3),
		rgba(23, 230, 138, 0.3)
	),
	#ffffff;
$bg-rejected: linear-gradient(
		0deg,
		rgba(255, 69, 92, 0.4),
		rgba(255, 69, 92, 0.4)
	),
	#ffffff;
$bg-pending: #eceef1;
$bg-voucher: linear-gradient(
		0deg,
		rgba(4, 178, 243, 0.3),
		rgba(4, 178, 243, 0.3)
	),
	#ffffff;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #e5e5e5;
	min-height: 100vh;
	height: 100%;
}

.container {
	padding-bottom: 2rem;
	background-color: #f7f7f9;
	max-width: 1280px;
	margin: auto;
}

// *************** HEADER CSS ******************//

.header-container {
	padding: 82px 140px 13px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;

	@media screen and (max-width: 1100px) {
		padding: 50px 60px 13px;
		text-align: center;
		gap: 1rem;
	}
}

.header-title {
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: #444c5e;
}

.header-btns {
	min-width: 275px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	@media screen and (max-width: 1100px) {
		gap: 1rem;
	}
}

// *************** HEADER BUTTONS CSS ******************//

.header-export-btn {
	background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%);
	border: 1px solid #d4d8e1;
	border-radius: 3px;
	font-weight: 600;
	font-size: 13px;
	text-transform: uppercase;
	color: $text-gray;
	padding: 9px 0;
	cursor: pointer;

	&:active {
		transform: scale(0.99);
	}

	span {
		padding-right: 11px;
	}
}

.icon-file_download---material {
	width: 20px;
	height: 18px;
	color: $text-gray;
	margin-right: 6px;
	padding-left: 10px;
}

.header-register-btn {
	background: #fd0087;
	border-radius: 4px;
	outline: none;
	border: none;
	font-weight: 600;
	font-size: 13px;
	margin-left: 13px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 9px 11px;
	cursor: pointer;

	&:active {
		transform: scale(0.99);
	}
}

.header-underline {
	height: 1px;
	background-color: #b3bac9;
	margin: 0 140px;

	@media screen and (max-width: 1100px) {
		margin: 0 60px;
	}
}

// *************** CARDS CSS ******************//

.cards-container {
	width: 100%;
	padding: 22px 140px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 13px;
	flex-wrap: wrap;

	@media screen and (max-width: 1100px) {
		padding: 22px 60px;
	}
}

.info-card {
	background: #ffffff;
	min-width: 240px;
	height: 121px;
	border: 1px solid #d4d8e1;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	padding: 20px 30px;
}

.card-title {
	font-weight: 400;
	font-size: 15px;
	color: $text-gray;
	margin-bottom: 13px;
}

.card-data {
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	color: #222232;
}

.card-footer {
	font-weight: 600;
	font-size: 13px;
	color: #9da5b7;
}

// *************** MAIN DATA CSS ******************//

.data-container {
	width: 100%;
	min-height: 100%;
	padding: 0 140px;

	@media screen and (max-width: 1100px) {
		padding: 0 60px;
	}
}

.data-box {
	width: 100%;
	background-color: #ffffff;
	border: 1px solid #d4d8e1;
	border-radius: 8px;

	@media screen and (max-width: 1300px) {
		overflow: auto;
	}
}

.selects-wrapper {
	width: 100%;
	padding: 0px 44px;
	font-weight: 600;
	font-size: 13px;
	display: flex;
	color: $text-gray;
	border-bottom: 0.7px solid #d4d8e1;
	padding-bottom: 15px;

	.label-order {
		margin-right: 55px;
	}
	.label-course {
		margin-right: 172px;
	}
	.label-client {
		margin-right: 87px;
	}
	.label-date {
		margin-right: 67px;
	}
	.label-state {
		margin-right: 75px;
	}

	i {
		margin-left: 5px;
	}
}

.filters-wrapper {
	width: 100%;
	display: flex;
	gap: 13px;
	padding: 23px 22px 33px;
}

.input-box {
	display: flex;
	position: relative;
	min-width: 274px;
	min-height: 35px;
}

.icon-Buscar {
	position: absolute;
	width: 20px;
	height: 20px;
	right: 11px;
	top: calc(50% - 20px / 2 + 0.5px);
}

.search-data {
	width: 274px;
	height: 35px;
	border: 1px solid #d4d8e1;
	border-radius: 4px;
	padding: 16px 8px 19px;

	&::placeholder {
		font-weight: 600;
		font-size: 14px;
		color: #d4d8e1;
	}
}

.filter-select {
	min-width: 160px;
	min-height: 35px;
	border: 1px solid #d4d8e1;
	border-radius: 4px;
	font-weight: 600;
	font-size: 14px;
	color: $text-gray;
	padding: 0 10px;

	&:nth-child(5) {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		.date-border {
			width: 2px;
			height: 100%;
			background-color: #d4d8e1;
			margin-left: 16px;
		}

		i {
			position: absolute;
			top: 10;
			right: 24;
		}
	}
}

.data-wrapper {
	width: 100%;
	.data-item {
		min-width: 1000px;
		width: 100%;
		height: 60px;
		display: flex;
		align-items: center;
		padding: 20px 0 18px;
		border-bottom: 0.7px solid #d4d8e1;

		.order-number {
			width: 84px;
			margin-left: 42px;
			margin-right: 35px;
			font-weight: 600;
			color: #04b2f3;
			font-size: 15px;
			text-decoration-line: underline;
		}

		.course-name {
			width: 200px;
			margin-right: 35px;
			font-weight: 400;
			font-size: 15px;
			color: $text-gray;
			word-wrap: break-word;
		}

		.client-name {
			width: 139px;
			margin-right: 36px;
			font-weight: 400;
			font-size: 15px;
			color: $text-gray;
		}

		.date {
			width: 90px;
			margin-right: 35px;
			font-weight: 400;
			font-size: 15px;
			color: $text-gray;
		}

		.state {
			width: 106px;
			margin-right: 37px;
			font-weight: 400;
			font-size: 13px;
			text-align: center;
			color: #222232;
			background: $bg-voucher;
			border: 2px solid #ffffff;
			border-radius: 10px;
			padding-top: 1px;
			padding-bottom: 1px;
			padding-left: 8.75px;
			padding-right: 9.78px;
		}
		.paid {
			background: $bg-paid;
		}

		.rejected {
			background: $bg-rejected;
		}

		.pending {
			background: $bg-pending;
		}

		.profit {
			width: 82px;
			margin-right: 35px;
			font-weight: 400;
			font-size: 15px;
			color: $text-gray;
		}

		i {
			margin-right: 40.26px;
		}
	}
}
