*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #ccc;
  display: grid;
  place-items: center;
}

.container {
  position: relative;
  height: 100%;
  padding-bottom: 2rem;
  background-color: #f7f7f9;
}

.header-container {
  padding: 82px 140px 13px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: #444c5e;
  margin-right: 458px;
}

.header-export-btn {
  background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%);
  border: 1px solid #d4d8e1;
  border-radius: 3px;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  color: #697284;
  padding: 9px 0;
}
.header-export-btn span {
  padding-right: 11px;
}

.icon-file_download---material {
  width: 20px;
  height: 18px;
  color: #697284;
  margin-right: 6px;
  padding-left: 10px;
}

.header-register-btn {
  background: #fd0087;
  border-radius: 4px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 13px;
  margin-left: 13px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 9px 11px;
}

.header-underline {
  height: 1px;
  background-color: #b3bac9;
  margin: 0 140px;
}

.cards-container {
  width: 100%;
  padding: 22px 140px;
  display: flex;
  justify-content: space-between;
  gap: 13px;
}

.info-card {
  background: #ffffff;
  width: 240px;
  height: 121px;
  border: 1px solid #d4d8e1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px 30px;
}

.card-title {
  font-weight: 600;
  font-size: 15px;
  color: #697284;
  margin-bottom: 13px;
}

.card-data {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  color: #222232;
}

.card-footer {
  font-weight: 600;
  font-size: 13px;
  color: #9da5b7;
}

.main-container {
  width: 100%;
  height: 100%;
  padding: 0 140px;
}

.data-box {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #d4d8e1;
  border-radius: 8px;
}

.selects-wrapper {
  width: 100%;
  padding: 0px 44px;
  font-weight: 600;
  font-size: 13px;
  color: #697284;
  border-bottom: 0.7px solid #d4d8e1;
  padding-bottom: 15px;
}
.selects-wrapper .label-order {
  margin-right: 65px;
}
.selects-wrapper .label-course {
  margin-right: 186px;
}
.selects-wrapper .label-client {
  margin-right: 103px;
}
.selects-wrapper .label-date {
  margin-right: 87px;
}
.selects-wrapper .label-state {
  margin-right: 65px;
}

.filters-wrapper {
  width: 100%;
  display: flex;
  gap: 13px;
  padding: 23px 22px 33px;
}

.input-box {
  display: flex;
  position: relative;
}

.icon-Buscar {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 11px;
  top: calc(50% - 10px + 0.5px);
}

.search-data {
  width: 274px;
  height: 35px;
  border: 1px solid #d4d8e1;
  border-radius: 4px;
  padding: 16px 8px 19px;
}
.search-data::placeholder {
  font-weight: 600;
  font-size: 14px;
  color: #d4d8e1;
}

.filter-select {
  width: 160px;
  border: 1px solid #d4d8e1;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  color: #697284;
  padding: 0 10px;
}

.data-wrapper {
  width: 100%;
}
.data-wrapper .data-item {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 20px 0 18px;
  border-bottom: 0.7px solid #d4d8e1;
}
.data-wrapper .data-item .order-number {
  width: 83px;
  margin-left: 44px;
  margin-right: 35px;
  font-weight: 600;
  color: #04b2f3;
  font-size: 15px;
  text-decoration-line: underline;
}
.data-wrapper .data-item .course-name {
  width: 200px;
  margin-right: 35px;
  font-weight: 400;
  font-size: 15px;
  color: #697284;
  word-wrap: break-word;
}
.data-wrapper .data-item .client-name {
  width: 139px;
  margin-right: 36px;
  font-weight: 400;
  font-size: 15px;
  color: #697284;
}
.data-wrapper .data-item .date {
  width: 89px;
  margin-right: 35px;
  font-weight: 400;
  font-size: 15px;
  color: #697284;
}
.data-wrapper .data-item .state {
  width: 106px;
  margin-right: 37px;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #222232;
  background: linear-gradient(0deg, rgba(4, 178, 243, 0.3), rgba(4, 178, 243, 0.3)), #ffffff;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 8.75px;
  padding-right: 9.78px;
}
.data-wrapper .data-item .state .paid {
  background: linear-gradient(0deg, rgba(23, 230, 138, 0.3), rgba(23, 230, 138, 0.3)), #ffffff;
}
.data-wrapper .data-item .state .rejected {
  background: linear-gradient(0deg, rgba(255, 69, 92, 0.4), rgba(255, 69, 92, 0.4)), #ffffff;
}
.data-wrapper .data-item .state .pending {
  background: #eceef1;
}
.data-wrapper .data-item .profit {
  width: 81px;
  margin-right: 35px;
  font-weight: 400;
  font-size: 15px;
  color: #697284;
}
.data-wrapper .data-item i {
  margin-right: 40.26px;
}

/*# sourceMappingURL=styles.css.map */
